* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    height: 100vh;
}


.floating-menu {
    position: fixed;
    bottom: 0;
    padding-bottom: 1rem;
    background-color: #1E1E1E;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 93px;

    .home, .search, .person {
        &.active {
          svg {
            path {
              fill: #E14B28;
              fill-opacity: 1;
            }
          }
        }
      }
}