.toastify {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 1;
    left: 0;
    right: 0;
    max-width: 100%;
    padding: 12px 20px;
    font-weight: bold;
    color: #000000;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #EC7609, rgb(255, 153, 90));
}

@media screen and (min-width: 766px) {
    main {
        display: none;
    }
}